/* All styling out of media queries are by default */
/* main containers */
.main-container {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--sixty-color);
}

/* Header Section */
.header-container {
  display: flex;
  justify-content: space-around;
  padding: 0px clamp(30px, 10%, 200px);
  height: 70vh;
  margin: calc(96px + 10vh) 0;
}

.header-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 60px;
  width: 100%;
}

.header-cta-container {
  display: flex;
  justify-content: space-between;
  margin-top: 140px;
}

.header-title {
  font-size: clamp(1.4rem, 4vw, 3rem);
  color: white;
}

.header-img {
  width: 100%
}

.cta-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 192px;
  padding: 8px 16px;
  border-radius: 18px;
  background-color: var(--ten-color);
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

/* Content Section */
.content-section-container {
  padding: 0px clamp(30px, 12%, 300px);
  margin-top: 5vh;
}

.subsection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 100px;
}

.subsection-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-img {
  width: 100%;
}

.section-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  color: white;
}

.section-text-1 {
  margin-left: 60px;
}

.section-text-2 {
  margin-right: 60px;
}

.section-title {
  color: white;
  margin: 14px 0;
}

.section-title-3 {
  font-size: clamp(1.5rem, 10vw, 2.5rem);
  margin-bottom: 50px;
}

.section-desc {
  font-size: clamp(1rem, 3vw, 1.5rem);
}

.section-title {
  font-size: clamp(1.8rem, 4vw, 3rem);
}

.section-learn-btn {
  margin-top: 30px;
}

.features-text-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 16px;
}

.feature-title, .feature-desc {
  color: white;
  text-align: center;
}

.feature-title {
  height: 30%;
  font-size: clamp(1.5rem, 4vw, 2rem);
}

.feature-text {
  overflow-y: hidden;
}

.feature-desc {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  margin: 26px 0;
}

/* Hover animations */
.cta-btn:hover {
  transition: 400ms;
  background-color: #07946c;
}

.footer-link:hover {
  transition: 400ms;
  color: var(--ten-color-light);
}

/* Media queries */
/* Screens for tablets */
@media screen and (max-width: 1068px) {
  .header-cta-container {
    display: flex;
    flex-direction: column;
  }

  .cta-learn {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 946px) {
  .header-main-container {
    margin: 0px;
  }

  .header-container {
    height: 40vh;
    margin: calc(96px + 10vh) 0 0 0;
  }

  .header-cta-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
  }

  .header-title {
    text-align: center;
  }

  .header-img {
    display: none;
  }

  .cta-btn {
    width: 192px;
    padding: 6px 14px;
    font-size: 1.5rem;
  }

  .subsection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .subsection-1, .feature-desc-3 {
    margin-bottom: 80px;
  }

  .section-img {
    width: 50%;
  }

  .section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 60px 0;
    text-align: center;
  }

  .section-img-1 {
    order: 2;
  }

  .features-text-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-row-gap: 24px;
  }
}

/* Screens for phones */
@media screen and (max-width: 556px) {
  .header-cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
  }

  .feature-title {
    height: 20%;
  }
}