/* Message */
.message {
  display: inline-block;
  width: 100%;
  margin-bottom: 18px;
  color: white;
}

.message-cont {
  position: relative;
  max-width: 70%;
  float: left;
  display: flex;
}

::-webkit-scrollbar {
  width: 0px;
}

.user-profile-msg {
  position: relative;
  min-width: 48px;
  min-height: 100%;
}

.profile-msg {
  position: absolute;
  min-width: 48px;
  bottom: 0px;
}

.left-cont {
  position: relative;
  margin-left: 16px;
  display: flex;
  align-items: center;
}

.right, .left {
  font-size: 14px;
  width: fit-content;
  display: flex;
  border-radius: 10px;
  padding: 6px;
}

.time{
  min-width: 48px;
  position: relative;
  height: auto;
}

.right {
  float: right;
  max-width: 70%;
  background-color: var(--ten-color);
}

.left {
  float: left;
  background-color: rgba(255, 255, 255, .2);
}

.right p span, .left p span {
  position: absolute;
  width: fit-content;
  height: 14px;
  bottom: 0px;
  right: 0px;
  font-size: 10px;
}

.right p span {
  color: rgba(0, 0, 0, .5);
}

.left p span {
  color: rgba(255, 255, 255, .5);
}