/* Containers */
.profile-settings-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  color: white;
  padding-left: 52px;
  position: absolute;
  top: 0;
  right: 0;
}

.profile-cont {
  display: flex;
  flex-direction: column;
  margin-top: 46px;
  width: 100%;
}

/* Profile details */
.user-profile-setting {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  width: 228px;
  height: 228px;
  border-radius: 50%;
  cursor: pointer;
  overflow-y: hidden;
  margin-bottom: 36px;
}

.noProfileImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profileImg {
  overflow-y: hidden;
  border-radius: 50%;
}

#inputTag {
  display: none;
}

.profile-desc {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 56px;
}

.input-profile-container {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.bio {
  padding: 12px;
  border-radius: 20px;
  border: 0px;
  background-color: rgba(0, 0, 0, .4);
  color: rgba(255, 255, 255, 0.7);
  outline: none;
  resize: none;
  height: 140px;
  width: 400px;
}

.bio::placeholder, 
.input-profile-container input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.input-profile-container span {
  padding-bottom: 12px;
  overflow-y: hidden;
}

.input-profile-main-cont p {
  width: 60%;
  padding: .3rem;
  color: rgba(255, 255, 255, .7);
}

.input-profile-container input {
  width: 100%;
  padding: 12px;
  border-radius: 20px;
  border: 0px;
  background-color: rgba(0, 0, 0, .4);
  color: rgba(255, 255, 255, 0.7);
  outline: none;
  margin-bottom: 56px;
}

.save-btn-cont {
  display: flex;
  flex-direction: column;
  margin: 22px 0px;
  width: 100%;
}

.save-btn {
  border: 0px;
  border-radius: 20px;
  width: 98px;
  padding: 8px;
  background-color: var(--ten-color-light);
  cursor: pointer;
}

.save-btn:hover {
  transition: 400ms ease-in-out;
  background-color: var(--ten-color);
}

.save-btn, .logout-btn {
  margin: 16px 0px;
}

.logout-btn {
  border: 0px;
  border-radius: 20px;
  width: 98px;
  padding: 8px;
  cursor: pointer;
  background-color: rgb(255, 128, 128);
}

.logout-btn:hover {
  transition: 400ms ease-in-out;
  background-color: rgb(255, 82, 82);
}

/* Media Queries */
@media screen and (max-width: 878px) {
  
}